<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947891333173-93n0sa0bv86apm5l3fmeolcbamnm8pbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947891333173-93n0sa0bv86apm5l3fmeolcbamnm8pbc</string>
	<key>API_KEY</key>
	<string>AIzaSyBfzRQA_7sMybScgHQ1UAKxLtt4I_tR-bA</string>
	<key>GCM_SENDER_ID</key>
	<string>947891333173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bugetbuddy</string>
	<key>PROJECT_ID</key>
	<string>buget-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>buget-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947891333173:ios:0ef25b8f17c9fe7145697c</string>
</dict>
</plist>